<link rel="stylesheet" href="styles/style.css">



<body>

    <nav class="headerMain">
        <ul>
            <li>
                <a href="/">Home</a></li>
            <li>
                <a href="/About">About</a></li>
            <li>
                <a href="/Contact">Contact</a></li>




            <li>
                <a href="/login">Login</a></li>


        </ul>



    </nav>
</body>